BasedOnStyle: LLVM

Language: Cpp
ColumnLimit: 100
IncludeBlocks: Regroup
SortIncludes: true
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveMacros: true
AlignOperands: true
BreakConstructorInitializers: BeforeComma
Standard: c++20
